@model IEnumerable<MvcProjectAli.Models.Guide>

@{
    ViewBag.Title = "Index";
}

<h2 align="center"><u>Guide Information</u></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="background-color:antiquewhite;">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th style="background-color:aliceblue;">
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th style="background-color:aliceblue;">
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th  style="background-color:aliceblue;">
            @Html.DisplayNameFor(model => model.VisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th  style="background-color:aliceblue;">
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GuideID }) |
            @Html.ActionLink("Details", "Details", new { id=item.GuideID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GuideID })
        </td>
    </tr>
}

</table>
