@model MvcProjectAli.Models.Tourist

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="background-color:lightblue;">
        <h4>Tourist</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TouristName, htmlAttributes: new { placeholder = "input your name", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TouristName, new { htmlAttributes = new { placeholder = "input your name", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TouristName, "", new { placeholder = "input your name", @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomType, htmlAttributes: new { placeholder = "input room type AC/Non AC", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoomType, new { htmlAttributes = new { placeholder = "input room type AC/Non AC", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoomType, "", new { placeholder = "input room type AC/Non AC", @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact, htmlAttributes: new { placeholder = "input your number", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { placeholder = "input your number", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact, "", new { placeholder = "input your number", @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { placeholder = "input your e-mail address", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "input your e-mail address", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { placeholder = "input your e-mail address", @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { placeholder = "input your date of birth", @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { placeholder = "input your date of birth", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { placeholder = "input your date of birth", @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
