@model MvcProjectAli.Models.Tourist
<table style="font-family:Arial; border:2px solid black; width: 300px">
    <tr>
        <td>
            <table>
                <tr>
                    <td><b>Tourist Name :</b></td>
                    <td>@Model.TouristName</td>
                </tr>
                <tr>
                    <td><b>Room Type :</b></td>
                    <td>@Model.RoomType</td>
                </tr>
                <tr>
                    <td><b>Contact :</b></td>
                    <td>@Model.Contact</td>
                </tr>
                <tr>
                    <td><b>Email Address :</b></td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td><b>Date of birth :</b></td>
                    <td>@Model.DateOfBirth</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

